extends ./layout/index

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-6")
                img(src="img/nosotros.jpg", alt="Foto de la Torre Eiffel", class="img-fluid")
            div(class="col-md-6 pl-md-5")
                h1 #{pagina}
                p Discover new cultures and have a wonderful rest with Backpack Story! Select the country you’d like to visit and provide our agents with estimated time – they’ll tours and hotels.
                p During our work we organized countless journeys for our clients. We started as a small tour bureau. Today we have valuable experience travelling and we can advise the most stunning resorts, cities and countries to visit!
                p Let us curate an inspiring experience as you enjoy a personally-themed adventure with a professional guide catered to your interests. Whether a one-day trip or multi-trip journey, you’ll be, as well as the unique bird’s eye views from a helicopter in Europe.
        div(class="listado-iconos")
            div(class="container mt-5 py-5 text-center")
                div(class="row")
                    div(class="col-md-4")
                        img(src="img/icono_seguridad.svg", alt="Seguridad" class="img-fluid mb-4")
                        h2(class="mb-4") Seguridad
                        p We guarantee the best hotels and very comfortable rooms, which will be appreciated by every traveller. You will be absolutely happy with the hotel and will have a wonderful vacation there.
                    div(class="col-md-4")
                        img(src="img/icono_destinos.svg", alt="Destinos" class="img-fluid mb-4")
                        h2(class="mb-4") Destinos Fantasticos
                        p We provide our clients with such a service as Tourist Guide. Its main goal is to ensure people with all necessary information any time he needs. This service is similar to Customer Support with emphasis on travelling.
                    div(class="col-md-4")
                        img(src="img/icono_precios.svg", alt="Precios" class="img-fluid mb-4")
                        h2(class="mb-4") Los Mejores Precios
                        p You can book tickets on any plane online via our booking system. Here you have an opportunity to select your transport operator. Our representatives will help you with the details.
